**[Slide no.52]**

1. write a program to Check wheather the age entered by user is above 18 or not?

In [ ]:


Age=int(input("enter age:"))
if (Age>18):

  print("eligiable")
else:
  print("not eligiable")

IndentationError: ignored

In [ ]:
Climate = input("Enter today climate : ")     #taking input from user 
if Climate == "Warm":     #cond 1
    print('Dont go for Shopping')   #Statement 1
    
elif Climate == "Rainy":   #Cond 2
    print('Dont Go for Shopping')    #Saetement 2
elif Climate == "Cold":     #Cond 3
    print("Go for Shopping")
else:
  print("You enter wrong entry ")

Enter today climate : Cold
Go for Shopping

**[Slide No. 52]**

2. Write a program to check number entered is even or not ?

In [ ]:
num = int(input("Enter a number: "))
if (num % 2) == 0:   # 7%2 =1
    print("{0} is Even number". format(num))
else:
    print("{0} is Odd number". format(num))

Enter a number: 5
5 is Odd number

**[Slide No. 53]**

3. Write a program to print largest number from three given numbers.

In [ ]:
67 , 78 , 45

Enter first number :6
Enter second number :6
Enter third number :6
6

**Print the 2nd largest value**

In [ ]:
a=56
b=100
c=200
if (a>b) and (b>c):
  print(a,"is greater")
else:
   if (b>c):
     print(b,"is greater")
   else:
    print(c,"is greater")

200 is greater

In [ ]:
a=50
b=70
c=60
if (c<b) and (c>a):
  print(c,"is second greater")
else:
  if (c<a):
    print(a,"is  second greater")
  else:
    print(a,"is second greater")

SyntaxError: ignored

In [ ]:
a=int(input("enter first number"))
b=int(input("enter second number"))
c=int(input("enter third number"))

if (a>b) and (a<c):
  print("the second largest number a")
elif b<c:
  print("the second largest number is b")z
else:
  print("the second largest number is c")

enter first number78
enter second number99
enter third number66
the second largest number is c

In [ ]:
num1=100
num2=50
num3=70

if(num1>num2>num3):
    print('num2 is  second largest ')
    
elif(num2>num3):
    print("num2 is 2nd lar")
    
else:
    print("num2 is 2nd lar")

num2 is 2nd lar

enter 1st value6
enter 2nd value7
enter 3rd value8
largest no. is (6, 7, 8)

IndexError: ignored

In [ ]:
a=int(input("Enter 1st Number :"))
b=int(input("Enter 2nd Number :"))
c=int(input("Enter 3rd Number :"))

if(a>b) and (a>c):
  if(b>c):
    print(b,"is the second largest")
  else:
    print(c, "is the second largest")
elif(b>a) and (b>c):
  if(a>c):
    print(a ,"is the second largest")
  else:
    print(c, "is the second largest")
elif(c>a) and (c>b):
  if(a>b):
    print(a ,"is the second largest")
  else:
    print(b, "is the second largest")

Enter 1st Number :22
Enter 2nd Number :99
Enter 3rd Number :1
22 is the second largest

**[Slide No.54]**

4. Write a program to check whether the user enter number is 10,50 and 100 .

Enter Number :6
False

**[Slide No. 54]**

5.  Write a program to check  number entered is prime number .

Enter a Number :8
Number is Composite

enter the number 7
your number is a prime
your number is a prime
your number is a prime
your number is a prime
your number is a prime

**[Slide No. 54]**

6. Write a program to check given number is multiple of 6 or not .

Not Divisible by 6

Write a program to display the last digit of a number.

Write a program to check whether the last digit of a number( entered by user ) is 
divisible by 3 or not.

enter the number 2890
0

Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
             Unit                                                             Price  
First 100 units                                               no charge
Next 100 units                                              Rs 5 per unit
After 200 units                                             Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

Enter the units consumed :600
charges 6000