**[Slide No. 7]**

1. Create  1-D array(series ) in pandas.

In [ ]:
a=pd.Series(np.random.random(10))
a

'a=pd.Series(np.random.random(10))\na'

In [3]:
import pandas as pd
a=[5,2,7,4,1]     # create a list 
v=pd.Series(data=a)
v

0    5
1    2
2    7
3    4
4    1
dtype: int64

**[Slide No. 7]**

2. Create a pandas series from a list .

In [ ]:
import pandas as pd
a=[5,2,7,4,1]     # create a list 
v=pd.Series(data=a)
v

0    5
1    2
2    7
3    4
4    1
dtype: int64

**[Slide No. 8]**
3. Create a pandas series with user define index.

In [ ]:
row_labels=['zeroth_row','first_row','second_row','third_row','fourth_row']
import pandas as pd
a=[5,2,7,4,1]     # create a list 
v=pd.Series(data=a,index=row_labels)
v

zeroth_row    5
first_row     2
second_row    7
third_row     4
fourth_row    1
dtype: int64

**[Slide No. 10]**

4. Write a program to create Dataframe by  Dictionay .

In [ ]:
Dict={
    'Name':['KRish',"Krishan","Ram"],
    'Age':[25,23,34]
}
df=pd.DataFrame(Dict)
df

      Name  Age
0    KRish   25
1  Krishan   23
2      Ram   34

In [ ]:
dict1={"Name":["Vikas","Aneya","Nilambari"],
       "Age":[37,35,8]}
df=pd.DataFrame(dict1)
df

        Name  Age
0      Vikas   37
1      Aneya   35
2  Nilambari    8

In [4]:
dict_numbers={1,2,3,4,5}   #set datatype 
dict_marks={85,45,96,97,37}
df=pd.DataFrame(dict_numbers,dict_marks)
df

PandasError: DataFrame constructor not properly called!


**[Slide No. 11]**

5. Create DataFrame and put index  

data = np.array(['a','b','c','d']) 

index=[100,101,102,103]

In [ ]:
data = np.array(['a','b','c','d'])

index=[100,101,102,103]

In [ ]:
import numpy as np
data = np.array(['a','b','c','d'])  #series 

index=[100,101,102,103]            #list of index

df = pd.DataFrame(data,index=index)

df

     0
100  a
101  b
102  c
103  d

**[Slide No. 11]**

6. Accessing Data from Series with Position

s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

In [ ]:
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
s
s['c']

3

In [ ]:
Dict={
    'Name':['KRish',"Krishan","Ram",'Pallab','Raj'],
    'Age':[25,23,34,32,23],
    'Height':[5,6,5.5,6,5.9]
}
df=pd.DataFrame(Dict)
print(df)
df.iloc[0:2,]         #print First two rows
#df.iloc[1:3,0:2]     #print second and 3rd row and 1and 2nd col
#df.iloc[2:4,1:3]

#df.iloc[1:3,0:3:2]
df.iloc[1:3,[-1]]

      Name  Age  Height
0    KRish   25     5.0
1  Krishan   23     6.0
2      Ram   34     5.5
3   Pallab   32     6.0
4      Raj   23     5.9

   Height
1     6.0
2     5.5

**[Slide No. 11]**

7. Create a DataFrame in which you have 2 columns(Name , Age) .
And fill the data into this columns and use user define index

**[Slide No. 13]**

8. Read the Csv/Excel file and convert it into DataFrame .

**[Slide No. 15]**

9. Print the top 5 and last 5 rows of the DataFrame

**[Slide No. 16]**

10. write a program to print 3 Row of the DataFrame .

**[Slide No. 17]**

11. Write a Program to print First two Columns of the DataFrame.

**[Slide No .18]**

12.  Write a Program to filter the DataFrame and print First 2 row and first two column of the DataFrame.

**[Slide No. 19]**

13. Write a Program to Find the Null/missing value in the DataFrame.

**[Slide No. 10]**

14. Create DataFrame from dict and list

**[Slide No. 21]**

15. Write a Program to drop the rows which has null value.

[Slide No. 22]

16. Write a Program to remove Duplicate values in a Dataframe.

**[Slide No . 24]**

17.  Adding a new column to an existing DataFrame object with column label by passing new series

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)



Q.1 Add new column in DataFrame


Q.2Adding a new column using the existing columns in DataFrame

**[Slide No.24]**

18.Delete the Column three from the DataFrame

 d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)

**[Slide No. 24]**

19. write a program to  replace "Krish" from the age column

d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','David',
                       'Gasper','Betina','Andres']),
     'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,"Krish",46]),
     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}


df = pd.DataFrame(d)

**[Slide No .32]**

20. Write a program to join two dataframe and do multiple joins.