## Different Data types ?

## List :- 

### List is an ordered sequence of items It is the most used python data type
### List items are ordered, changeable/mutable and allow duplicate values
### It can store any type of data like int, float, string etc
### Items of list are separated by commas and are enclosed within brackets [ ]

In [4]:
L1 = ["Krishan", 105, 2.5 , "India"]
L2 = [1 , 2 , 3 , 4 , 5 , 6]
L3 = [True, 2, False]

In [7]:
L1, L2, L3

(['Krishan', 105, 2.5, 'India'], [1, 2, 3, 4, 5, 6], [True, 2, False])

In [11]:
print("List L1 - ", L1)

List L1 -  ['Krishan', 105, 2.5, 'India']

In [8]:
a=list((6, 7))        # using list( ) function we can define a list

In [13]:
print(type(a))       # using type() function we print data type

<class 'list'>

In [14]:
print(type(L3))

<class 'list'>

In [51]:
sample_list = [12, 43, 3.5, 'hi', (1+2j), 6.7]  ## list allows multiple data types - hetrogenous

In [52]:
sample_list

[12, 43, 3.5, 'hi', (1+2j), 6.7]

In [53]:
sample_list[4] = 100       ## Assigning new value, mutable, we can make change over here

In [66]:
sample_list

[21, 34, 65, 12, 8.8]

In [67]:
sample_list.reverse()

In [68]:
sample_list

[8.8, 12, 65, 34, 21]

In [71]:
sample_list.sort()
sample_list

[8.8, 12, 21, 34, 65]

In [65]:
sample_list = [21, 34, 65, 12, 8.8]

In [21]:
sample_list.sort()
sample_list

[8.8, 12, 21, 34, 65]

In [62]:
# create a list of natural numbers from 1 to 10
Natural_numbers=[1,2,3,4,5,6,7,8,9,10]
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
#change index 9 to 8
Natural_numbers[9] = 8
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8]

In [64]:
### How to  insert an element in the list

Natural_numbers.append(11)              ## Adding value at end 
Natural_numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 11]

In [24]:
adi=["apple","mango","banana","cherry","pineapple"]
print("banana" in adi)

True

In [72]:
fruits = ["apple","mango","banana","cherry","pineapple"]
print("banana" in fruits)

True

In [73]:
fruits = ["apple","mango","banana","cherry","pineapple"]
print("strawberry" in fruits)

False

In [26]:
fruits

['apple', 'mango', 'banana', 'cherry', 'pineapple']

In [27]:
print("cherry" in fruits)

True

In [28]:
for items in fruits :              # list is iterable 
    print(items)

apple
mango
banana
cherry
pineapple

In [29]:
len(fruits)                    ## getting length of list, count number of items

5

In [74]:
int_list = [1, 5, 3, 8, 9, 9.8, 8.8]
int_list

[1, 5, 3, 8, 9, 9.8, 8.8]

In [31]:
len(int_list)

5

In [75]:
min(int_list)

1

In [76]:
max(int_list)

9.8

In [32]:
float_list = [2.3, 4.5, 7.2]

In [33]:
len(float_list)

3

In [34]:
min(float_list)                    # min function for getting min value from float list

2.3

In [23]:
max(float_list)                    # max function for getting max value from float list

7.2

In [35]:
float_list.clear()                 # clear function, remove all items from list

In [36]:
float_list

[]

In [37]:
list1 = [1, 4, 6.4, 8, 10]
list2 = ['hi','arun','are',181, 90.1]

In [28]:
list3 = list1 + list2               # concatenate two list items

In [29]:
list3

[1, 4, 6.4, 8, 10, 'hi', 'arun', 'are', 181, 90.1]

In [38]:
new_list = [1 ,5, 2, 8.9, 2.4, 7.9, 100]

new_list1 = new_list

In [80]:
new_list, len(new_list), min(new_list), max(new_list), new_list.append(99), new_list, new_list.index(100), new_list1

([1, 2, 2.4, 5, 7.9, 8.9, 100, 99, 99, 99],
 9,
 1,
 100,
 None,
 [1, 2, 2.4, 5, 7.9, 8.9, 100, 99, 99, 99],
 6,
 [1, 2, 2.4, 5, 7.9, 8.9, 100, 99, 99, 99])

In [40]:
new_list1.remove(99) 
new_list1

[1, 5, 2, 8.9, 2.4, 7.9, 100]

In [41]:
new_list1

[1, 5, 2, 8.9, 2.4, 7.9, 100]

In [42]:
new_list1.insert(6, 999)

In [43]:
new_list1

[1, 5, 2, 8.9, 2.4, 7.9, 999, 100]

In [44]:
new_list1.remove(999)
new_list1

[1, 5, 2, 8.9, 2.4, 7.9, 100]

In [64]:
new_list1 = [1, 2, 8.9, 2.4, 7.9, 100, 99]

In [63]:
new_list1.reverse(), new_list1.sort(), new_list1.clear()

(None, None, None)

In [47]:
new_list1

[1, 5, 2, 8.9, 2.4, 7.9, 100]

In [48]:
new_list1.reverse()
new_list1

[100, 7.9, 2.4, 8.9, 2, 5, 1]

In [49]:
new_list1.sort()
new_list1

[1, 2, 2.4, 5, 7.9, 8.9, 100]

In [77]:
new_list2 = new_list1.copy()
new_list2

[1, 2, 2.4, 5, 7.9, 8.9, 100]

In [78]:
new_list1.append(99)
new_list1

[1, 2, 2.4, 5, 7.9, 8.9, 100, 99]

In [81]:
### Return index position of an object
new_list1.index(5)

3

In [83]:
### insert a new element at the specified index position
new_list1.insert(5, 7)
new_list1

[1, 2, 2.4, 5, 7.9, 7, 7, 8.9, 100, 99, 99, 99]

In [84]:
### delete an element from a list 
new_list1.remove(7)
new_list1

[1, 2, 2.4, 5, 7.9, 7, 8.9, 100, 99, 99, 99]

In [ ]:
### create a list of int and float data type
### Find the number of elements in the list      - len()
### Find the maximum and minimum value           - min(), max()
### append a new element in the list             - append()
### create a copy of the list                    - copy()
### Return index position of an object           - index()
### insert a new element at the specified index position   - insert(<index pos>, <value>)
### delete an element from a list                - remove()
### Reverese a list                              - reverse()
### Sort a list                                  - sort()
### Remove all the elements from the list        - clear()

## Tuple

### Tuple is a collection of Python objects separated by commas
### It is similar to a list in terms of indexing
### Tuple is immutable unlike lists - We cant change Tuple
### Items of a Tuple are separated by commas and are enclosed within brackets ()

In [88]:
sample_tuple = (1,43,56,3.5,"hi",1+2j)
sample_tuple

(1, 43, 56, 3.5, 'hi', (1+2j))

In [90]:
sample_tuple1 = 1,43,56,3.5,"hi",1+2j            # without paranthesis also it consider it as tuple
sample_tuple1

(1, 43, 56, 3.5, 'hi', (1+2j))

In [92]:
type(sample_tuple1), type(sample_tuple)

(tuple, tuple)

In [93]:
sample_tuple[5]

(1+2j)

In [94]:
sample_tuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [95]:
sample_tuple[5] = 16

TypeError: 'tuple' object does not support item assignment

In [ ]:
# create tuple with flost and int

In [97]:
tuple1 = (1, 3, 7.8, 9, 8)
tuple1

(1, 3, 7.8, 9, 8)

In [98]:
tuple1.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [99]:
tuple1.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [107]:
sorted(tuple1)

[1, 3, 7.8, 8, 9]

In [108]:
sorted(tuple1, reverse = True)

[9, 8, 7.8, 3, 1]

In [109]:
sorted(tuple1, reverse = False)

[1, 3, 7.8, 8, 9]

In [104]:
n=4
rep_tuple = tuple1 * n    ## repeating n times
rep_tuple

(1, 3, 7.8, 9, 8, 1, 3, 7.8, 9, 8, 1, 3, 7.8, 9, 8, 1, 3, 7.8, 9, 8)

In [105]:
tuple1

(1, 3, 7.8, 9, 8)

In [110]:
tup1 = 1,2,3
tup2 = 8,9,10
tup3 = tup1+tup2
tup3

(1, 2, 3, 8, 9, 10)

In [111]:
print(3 in tuple1)

True

In [120]:
print(7 not in tuple1)

True

In [112]:
tuple2=(1,2,3,4,5,6)
tuple3=(4,5,6,1,2,3)
tuple4=tuple2+tuple3

In [113]:
tuple4

(1, 2, 3, 4, 5, 6, 4, 5, 6, 1, 2, 3)

In [121]:
fruits = ("apple","mango","banana","cherry","pineapple")
fruits

('apple', 'mango', 'banana', 'cherry', 'pineapple')

In [122]:
for items in fruits:
    print(items)

apple
mango
banana
cherry
pineapple

In [114]:
for items in tuple1:
    print(items)

1
3
7.8
9
8

In [86]:
len(tuple4), min(tuple4), max(tuple4)

(12, 1, 6)

In [115]:
tuple5 = tuple4

In [116]:
tuple5

(1, 2, 3, 4, 5, 6, 4, 5, 6, 1, 2, 3)

In [117]:
print(tuple4[6])

4

In [118]:
type(tuple4)

tuple

In [119]:
tuple4.index(5)

4

In [ ]:
### create a tuple of int and float data type
### Find the number of elements in the tuple     - len()
### Find the maximum and minimum value           - min(), max()
### append a new element in the tuple            - append() not working
### create a copy of the tuple                   - copy()  -- work as deepcopy
### Return index position of an object           - index() 
### insert a new element at the specified index position   - insert(<index pos>, <value>) - not working
### delete an element from a tuple               - remove() - not working
### Reverese a tuple                             - reverse() - not working
### Sort a tuple                                 - sort()    - not working
### Remove all the elements from the tuple       - clear()   - not working
### concatenate 2 tuple

In [124]:
new_tuple = (1,2,5,6,8.9,2.3)
new_tuple

(1, 2, 5, 6, 8.9, 2.3)

In [125]:
len(new_tuple)

6

In [126]:
min(new_tuple)

1

In [127]:
max(new_tuple)

8.9

In [128]:
new_tuple1 = new_tuple.copy()
new_tuple1

AttributeError: 'tuple' object has no attribute 'copy'

In [136]:
from copy import deepcopy
new_tuple1 = deepcopy(new_tuple)
new_tuple1

(1, 2, 5, 6, 8.9, 2.3)

In [138]:
new_tuple.index(6)

3

In [139]:
new_tuple.remove(6)

AttributeError: 'tuple' object has no attribute 'remove'

In [131]:
sorted(new_tuple, reverse = True)

[8.9, 6, 5, 2.3, 2, 1]

In [132]:
sorted(new_tuple)

[1, 2, 2.3, 5, 6, 8.9]

In [133]:
new_tuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [145]:
import numpy as np

arr = np.array([1, 2, 3, 4])

print(arr[0])

1

In [146]:
arr

array([1, 2, 3, 4])

In [101]:
np

In [140]:
list = [1, 2, 3,4, 5,6,]

In [141]:
list

[1, 2, 3, 4, 5, 6]

In [142]:
list.pop(5)

6

In [143]:
list

[1, 2, 3, 4, 5]

In [144]:
list[1] = 'a'
list

[1, 'a', 3, 4, 5]