In [29]:
### Addition
x=10
y=20
sum = x+y
sum

30

In [30]:
type(sum)

int

In [31]:
### Substraction
x=10
y=20
sub = x-y
sub, type(sub)

(-10, int)

In [32]:
### Multilication
x=10
y=20
product = x*y
product, type(product)

(200, int)

In [1]:
### Division
x=10
y=20
div = x/y
div, type(div)

(0.5, float)

In [34]:
### Modulus
x=10
y=2
mod = x % y   # mod gives reminder
mod, type(mod)

(0, int)

In [35]:
### Modulus
x=100
y=200
mod = x % y
mod, type(mod)

(100, int)

In [36]:
### Modulus - remainder (x%y)
### Modulus (x > y then remainder, x < y then x)
x=10
y=6
mod = x % y
mod, type(mod)

(4, int)

In [1]:
x=5
y=6
mod = x % y
mod, type(mod)

(5, int)

In [37]:
### exponential
### x ** y --> x will be written y times 
x=10
y=2
mod = x ** y
mod, type(mod)

(100, int)

In [2]:
### Floor Division (x > y then Q, x < y then 0)
### (x // y : x > y => Quotient, x < y => 0)
x=10
y=11
mod = x // y
mod, type(mod)

(0, int)

In [39]:
### Floor Division
x=-10
y=11
mod = x // y
mod, type(mod)

(-1, int)

## Logical operator 

### and  - Returns True if both statement are true
### or     - Returns True if one of the statement are true
### not   - reverse the result, returns false if result is true

In [40]:
### Code implementation for "and" operator
x = 5
print (x >3 and x < 10) # reurns true because 5 is greater than 3 and less than 10

True

In [41]:
x=10
print(x > 5 and x > 20)

False

In [42]:
### Code implementation for "or" operator
x = -2
print(x >3 or x < 4)
#retuns True because one of the condition is true(3 is greater than -2 and -2 is less than 4)

True

In [43]:
x = 10
print(x > 3 and x < 10)

False

In [44]:
x=10
print(x<20 or x<5)

True

In [45]:
### code for equal to operator
x = 5
y = 10
print(x == y)

False

In [46]:
### code for greater than operator 
x = 5
y = 3
print(x > y)
#returns true because 5 is greater than 3

True

In [47]:
### not
x = 5
print (not(x > 3 and x < 10))

False

In [48]:
x = 20
print(x>25 and x<30)

False

In [3]:
### Membership Operators
vowels="aeiou"
print("i" in vowels)

True

In [4]:
print("j" in vowels)

False

In [5]:
### not in
print("a" not in vowels)

False

In [6]:
print("p" not in vowels)

True

In [7]:
### Relational Operators
x=67
y=34

In [8]:
x==y

False

In [9]:
x!=y

True

In [10]:
x<y

False

In [11]:
x>y

True

In [12]:
x>=y

True

In [13]:
x<=y

False

## Assignment Operator

In [49]:
x =  5
print(x)

5

In [50]:
x=5
x+=3 ## 5+3
print(x)

8

In [51]:
x=5
x-=3 ## 5-3
print(x)

2

In [52]:
x=5
x*=3 ## 5*3
print(x)

15

In [53]:
x=5
x/=3 ## 5/3
print(x)

1.6666666666666667

In [54]:
x=5
x%=3 ## 5%3
print(x)

2

In [56]:
x=5
x//=3 ## 5//3 (Quotient)
x, print(x)

1

(1, None)

In [57]:
x=5
x**=3 ## 5**3 (Quotient)
print(x)

125

In [58]:
x=6
x&=4 ## this operator is used to perform bitwise AND on both operand and then assigning the result to the left operand
print(x)

4

In [59]:
x=6
x|=4 ## this operator is used to perform bitwise OR on the operand and then assigning the result to the left operand
print(x)

6

In [14]:
x=12
x|=3 ## this operator is used to perform bitwise OR on the operand and then assigning the result to the left operand
print(x)

15

In [15]:
x=8     ## 1000
x>>=1   ## x = x >> 1, 0100 => 4
x       ##this operator is used to perform bitwise right shift on the operand and then assigning result to left operator

4

In [62]:
x=4     ## 0100
x>>=1   ## x = x >> 1, 0010 => 2
x       ## this operator is used to perform bitwise left shift on the operand and then assigning result to left operator

2

In [75]:
a = True
b = 2
print(a==b)

False

In [16]:
x=10    ## this operator is used to perform bitwise XOR on the operand and then assigning result to left operator
x^=3
x

9

In [5]:
x=9
x^=5
print(x)

12

In [6]:
x =22
x>>=1 ## this operator is used to perform bitwise right shift on the operand and then assigning result to left operator
x

11

In [9]:
x =14
x<<=1 ## this operator is used to perform bitwise left shift on the operand and then assigning result to left operator
x

28

In [10]:
x = 4
x<<=1 ## this operator is used to perform bitwise left shift on the operand and then assigning result to left operator
x

8

In [11]:
x = 10
x>>=1
x

5

In [13]:
x = 10
x<<=1
x

20

In [17]:
x=24     ## 0001 1000
x>>=3    ## 000  0011 => 3
x

3

In [18]:
x=14     ## 0000 1110
x<<=3    ## 0111 0000 => 112
x

112

## Comparision operators
### Equal to(==)
### Not equal to (!=)
### Greater than(>)
### Less than(<)
### Greater than or equal to(>=)
### Lesser than or equal to(<=)

### --------------------------------------------------------------------------------

## Escape Character

In [19]:
intro = "Hello Sir, this is lisha\"s bag "  ## with \", we can add " into string
print(intro)

Hello Sir, this is lisha"s bag

In [2]:
prag="Hey raj \nwhere are you going?"       ## with \n, string into new line
print(prag)

Hey raj
where are you going?

In [3]:
prag="Hey raj \twhere are you going?"       ## with \t, add one tab space
print(prag)

Hey raj 	where are you going?

### --------------------------------------------------------------------------------

## Format Specifier

In [16]:
name = "krish"
print("hi, %s!"%name)   ## %s - specifies string

hi, krish!

In [4]:
name = "krish"
time = 8
print("%s, i will come back at %d am."%(name, time))   ## %s - specifies string %d - specifies int value

krish, i will come back at 8 am.

In [6]:
name = "Arun"
time = 24
print("%s's, birthday is on %d october."%(name, time))

Arun's, birthday is on 24 october.

In [9]:
Day = "Monday"
date = 3
year = 2022
print("1st Day of yr %d is %s & Date is %d Jan "%(year, Day, date))

1st Day of yr 2022 is Monday & Date is 3 Jan