In [ ]:
#wap to print number from 1 to 10 using while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#wap to print even number from 1 to 10 using while and for loops
i=1
while i<=10:
  if i%2==0:
    print(i)
  i=i+1

2
4
6
8
10

In [ ]:
#wap program to display done after running the loops
i=1
while i<=10:
  print(i)
  i=i+1
print('Done')

1
2
3
4
5
6
7
8
9
10
Done

In [ ]:
#write a program to find the multiplication of 2
n=2
i=1
while i<10:
  print(f'{n} * {i}',n*i)
  i=i+1

2 * 1 2
2 * 2 4
2 * 3 6
2 * 4 8
2 * 5 10
2 * 6 12
2 * 7 14
2 * 8 16
2 * 9 18

In [ ]:
#write a program to calculate the factorial of number
f=int(input('enter the number to calculate the factorial of number '))
i=0
factorial=1
while i<f:
  factorial=factorial+factorial*i
  i=i+1
print(factorial)

enter the number to calculate the factorial of number5
120

In [ ]:
#wap to take 10 number from user and calculate the average
n=0
sum=0
while n<10:
  number=int(input("enter the number"))
  sum=sum+number
  n=n+1
average=sum/10
print(average)

enter the number1
enter the number2
enter the number3
enter the number4
enter the number5
enter the number6
enter the number7
enter the number8
enter the number9
enter the number10
5.5

In [ ]:
#wap for to calculate number 1 to 100 using for loop

for i in range(1,101):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
#wap to print a right angle trainangle.This is an example of nested loops.
for i in range(5):
  for j in range(i+1):
    print('*',end="")
  print()

*
**
***
****
*****

In [ ]:
#wap to print a pattern using nested loops.
"""
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1
"""
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
#wap to find the sum from 10 to 20 using for loops
for i in range(10,21):
  sum=sum+i
print(sum)

200

In [ ]:
#wap to caculate the average from 10 to 20 using for loops 
for i in range(10,21):
  sum=sum+i
average=sum/10
print(average)

51.0

In [ ]:
for i in range(10,21):
  if i%2==0:
    print("It is an even number",i)
  else:
    print("It is not an even number",i)

It is an even number 10
It is not an even number 11
It is an even number 12
It is not an even number 13
It is an even number 14
It is not an even number 15
It is an even number 16
It is not an even number 17
It is an even number 18
It is not an even number 19
It is an even number 20

In [ ]:
#wap to program to check whether the number is prime or not 
num=int(input("enter the number"))
count=0
for i in range(1,num):
  if(num%i==0):
    count=count+1
if count==1:
  print("this is the prime number")
else:
  print("this is not the prime number")

enter the number7
this is the prime number

In [ ]:
#functions in python
def greetings():
  print("hello")
greetings()

hello

In [ ]:
def add(x,y):
  print(x+y)
add(10,20)

30

In [ ]:
def multiplication(x):
  for i in range(1,11):
    print(x*i)
multiplication(2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#Write a Python function that takes a list and returns a new list with unique elements of the first list.
list1=[1,2,2,3,4,5,5]
list2=[]
for i in list1:
  if i not in list2:
    list2.append(i)
list2

[1, 2, 3, 4, 5]