In [6]:
2+2+5   ### Shift + Enter => Run

9

In [2]:
print("Hello World")

Hello World

In [3]:
Print("Hello World") ### It should be print not Print

NameError: name 'Print' is not defined

In [4]:
print(hello world)  ### String should be written in double/single inverted comma

SyntaxError: invalid syntax (<ipython-input-4-63868289fc00>, line 1)

"Let's start programming"

### "Doing Programming"

## Hello World

# Hello World

### When reduce number of # font size increase. There should be space between # and comment.

### Shortcuts : 
### Shift + Enter => Run
### A => Insert cell Above
### B => Insert cell Below
### X => Deleting dell (DD)
### M => shortcut for markdown
### When reduce number of # font size increase. There should be space between # and comment.

In [5]:
X = "Hello World"
X, type(X)

('Hello World', str)

In [6]:
y = "latha"
y

'latha'

In [7]:
type(y)

str

In [9]:
x=10
x

10

In [10]:
type(x) #Int -- no decimal point

int

In [11]:
print(type(x))

<class 'int'>

In [12]:
x=10.5 #Float : decimal point
x,type(x)

(10.5, float)

In [13]:
x=1j
type(x)

complex

In [18]:
x=3-4j
print(type(x))

<class 'complex'>

In [15]:
x=2+4i  # SyntaxError : invalid syntax(complex number should be written with j)

SyntaxError: invalid syntax (<ipython-input-15-e2c16e4f796b>, line 1)

In [17]:
x=2+3j
y=3-4j
z=x*y
z, type(z), print(type(z))

<class 'complex'>

((18+1j), complex, None)

In [19]:
X=["Apple","Banana","Cherry"]
type(X)

list

In [20]:
y=[1,2,3]
type(y)

list

In [21]:
z=[1.2, 5, 1-2j, "Water"]
type(z)

list

In [22]:
x=("Apple","Banana","Cherry")
type(x)

tuple

In [23]:
z=(1.2, 5, 1-2j, "Water")
type(z)

tuple

In [24]:
z=1.2, 5, 1-2j, "Water"
type(z)

tuple

In [31]:
x = {"name" : "john", "age" : 36} #Dictionary 
type(x)

dict

In [33]:
x = {"name" : "john", "age" : 36}
type(x)

dict

In [34]:
x = {"Apple","Banana","Cherry"}
type(x)

set

In [35]:
x={1,3,6,36, 2,78}
x, type(x)

({1, 2, 3, 6, 36, 78}, set)

In [2]:
x={1,4,6,3,8.4, "ab", "ad", "c"}
x, type(x)

({1, 3, 4, 6, 8.4, 'c', 'ab', 'ad'}, set)

In [4]:
x=True
type(x)

bool

In [5]:
x=False
type(x)

bool

## Variables are container for storing values
## Python has no command for declaring the variables 
## when you assign a values, a variable is created

In [38]:
Name ="latha"
Name

'latha'

In [39]:
Nick!Name = "Latha"

SyntaxError: invalid syntax (<ipython-input-39-19f61a3d2e22>, line 1)

## Rule for declaring variables 

### A variable name must start with a letter or underscore character
### A variable name can't start with number 
### A variable name can only contain alpha-numeric and underscores(A-z,0-9, and _)
### Variable names are case-sensitive(age, Age and AGE are three different variables)

In [1]:
Name_2nick="Latha"
Name_2nick

'Latha'

In [2]:
_Nickname="Latha"
_Nickname

'Latha'

In [3]:
1Nickname="Latha"  ## var should not start with a number

SyntaxError: invalid syntax (<ipython-input-3-5c2874f10a82>, line 1)

In [4]:
N1ickname="Latha" ### Number can be used in the variable other than the first character
N1ickname

'Latha'

In [5]:
Nick*name="Latha" ### No spl character is allowed other than underscore

SyntaxError: can't assign to operator (<ipython-input-5-59ee04e12257>, line 1)

In [6]:
age=23
age

23

In [7]:
Age ### case sensitive

NameError: name 'Age' is not defined

In [8]:
AGE ### case sensitive

NameError: name 'AGE' is not defined

## Operators in Python 

### Operators are used to perform operations in variables or values

### Examples 

10+12

Here the "+" sign is an arthemetical and 10 and 12 are operand
Different types of opera

In [40]:
### Addition 
x = 10
y = 20
sum = x + y
sum

30

In [41]:
type(sum)

int

In [42]:
### Substraction 
x = 20
y = 10
sub = x - y
sub

10

In [43]:
### Multiplication 
x = 10
y = 20
mul = x * y
mul

200

In [44]:
### Division 
x = 20
y = 10
div = x / y
div

2.0

In [49]:
### Modulus 
x = 11
y = 5
mod = x % y
mod

1

In [66]:
x=7
print(~x)

-8

# Suggestion from Krishan ---


## HackerRank website

### Solve python related questions 
### Pandas in hacker Rank

## Arithmetic Operators
### Addition
### substraction
### multiplication
### division

### modulus (%)
### exponential (**) 
### Floor Division (//)